---
title: Projects
description: A portfolio of some of my coding projects in the past few years.
---

<!-- Projects are placed to fill a column first, not row -->
<div class="columns">
    <!-- Figure out how many elements need to go in each of the 2 columns -->
    {% assign elements = site.data.projects.size | divided_by: 2 %}

    <div class="column">
    {% for project in site.data.projects limit:elements %}
        <div class="box project">
            <figure class="image is-5by4 is-marginless project__image">
                <img src="{{ project.image_url | absolute_url }}" alt="{{ project.image_alt }}" width=488 height=390.4>
            </figure>
            <div class="project__description">
                <h2>{{ project.title }}</h2>
                <p class="has-text-white">{{ project.description }}</p>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="column">
    {% for project in site.data.projects offset:elements %}
        <div class="box project">
            <figure class="image is-5by4 is-marginless project__image">
                <img src="{{ project.image_url | absolute_url }}" alt="{{ project.image_alt }}" width=488 height=390.4>
            </figure>
            <div class="project__description">
                <h2>{{ project.title }}</h2>
                <p class="has-text-white">{{ project.description }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>