<footer class="footer footer-break">
    <div class="columns is-vcentered">
        <!--Left column, hidden on mobile devices-->
        <div class="column has-text-centered is-hidden-mobile">
            <p>Build Version: {{ site.build_version }}</p>
        </div>
        <!--Middle column-->
        <div class="column has-text-centered is-half">
            <a href="mailto:j65beto@gmail.com" class="has-no-underline is-size-4">
                <strong>Contact Me</strong>
            </a>
        </div>
        <!--Right column-->
        <div class="column has-text-centered">
            <p>Last Updated: <time>{{ "now" | date: "%m-%d-%Y %H:%M" }}</time></p>
        </div>
    </div>
</footer>