<header class="is-paddingless">
  <nav id="navbar" class="navbar is-spaced">
    <div class="container">
      <div class="navbar-brand">
        
        <!-- Typed Header --> 
        <div id="typed-strings"><h1>{{ site.title }}</h1></div>
        <div class="navbar-item">
          <a class="has-no-underline" href="{{ site.url }}">
              <h1 id="typed" class="custom-cursor"></h1>
              <h2 id="typed-subtitle" class="custom-cursor is-invisible"></h2>
          </a>
        </div>

        <!-- Hamburger Icon -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <!-- Navigation links --> 
          {%- for link in site.data.navigation -%}
            <a class="navbar-item is-tab has-no-underline is-function has-no-shadow" href="{{ link.url }}" target="
            {%- if link.new_page -%} _blank 
            {%- else -%} _self
            {%- endif -%}">
            {% if link.class_styles %} <span class="icon is-medium"><i class="{{ link.class_styles }}"></i></span> {% endif %}
            {{ link.title }}</a>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </nav>
</header>