<header class="is-paddingless">
  <nav id="navbar" class="navbar is-spaced">
    <div class="container">
      <div class="navbar-brand">
        
        <!-- Typed Joshua-Beto header --> 
        <div id="typed-strings"><h1>Joshua-Beto</h1></div>
        <div class="navbar-item">
          <a class="has-no-underline" href="{{ site.url }}">
              <h1 id="typed" class="custom-cursor"></h1>
              <h2 id="typed-subtitle" class="custom-cursor is-invisible"></h2>
          </a>
        </div>

        <!-- Hamburger Icon -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <!-- Navigation links -->
          {% for link in site.data.navigation %}
            <!-- Dicates whether the page will open on same or new tab -->
            {% if link.new_page %}
              {% assign target = "_blank" %}
            {% else %}
              {% assign target = "_self" %}
            {% endif %}

            <!-- Creates the navigation link for that item -->
            <a class="navbar-item has-no-underline is-function has-no-shadow" href="{{ link.url }}" target="{{ target }}">
            {% if link.class_styles %} 
              <span class="icon is-medium"><i class="{{ link.class_styles }}"></i></span> 
            {% endif %}
              {{ link.title }}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </nav>
</header>