<header>
  <div class="container">

    <!-- Typed Header --> 
    <div id="typed-strings">
      <h1>{{ site.title }}</h1>
    </div>
    
    <h1 id="typed" class="custom-cursor"></h1>
    <h2 id="typed-subtitle" class="custom-cursor hidden"></h2>

    <!-- Navigation links --> 
    <nav>
      <ul>
        {%- for link in site.data.navigation -%}
          <li><a class="navbar-item" href="{{ link.url }}" target="
          {%- if link.new_page -%} _blank 
          {%- else -%} _self
          {%- endif -%}">{{ link.title }}</a></li>
        {%- endfor -%}
      </ul>
    </nav>
  </div>

    <!-- Javascript -->
  <!-- CDN for the Typed.js npm library -->
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9" 
    integrity="sha384-Eu2brKGBwf2UJRIaYRelNnffdl8IzI17E5qR5uLe9cZr2Vm8cq9VxFuPRYbRnPdi" 
    crossorigin="anonymous">
  </script>

  <!-- Types out name -->
  <script src="{{ site.url }}/assets/js/type-header.js"></script>
</header>