/* Holds the project description and links */

.project-item {
    position: relative;
    display: inline-block;

    .project-description {
        display: none;
        position: absolute;
        top: 7.5%;
        left: 5%;
    }
}

.project-item:hover {
    .project-image {
        opacity: 0.15;
        filter: alpha(opacity=15);
        background: white;
    }
    .project-description {
        display: inline;
    }
}