.has-no-underline {
    &:link {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
    }
    &:active {
        text-decoration: none;
    }
}

/* makes whatever it's decorating look like a function call in code */
.is-function {
    &::after {
        content: "();";
        color: #b5e853;
    }
}

.has-no-shadow {
    text-shadow: none;
}