<section class="accordion {% if include.collapsed %} accordion--collapsed {% endif %}" id="about">
    <h2 class="accordion__header is-section-header">About</h2>
    <div class="accordion__content">
        <p>
            Hi, I'm <span class="has-emphasis">Joshua Beto</span>. I'm a <span class="has-emphasis">software developer</span>
            and <span class="has-emphasis">recent graduate</span> from UC Riverside with a <span class="has-emphasis">BS in Computer Science</span>. 
            I'm passionate about computer graphics, programming contests, and spreading CS knowledge to others.
        </p>
        <p>Click on the other sections to find out more about me! (Or just click <a href="#" id="toggle-accordions">here</a> to expand everything)</p>
    </div>
</section>