<section class="accordion {% if include.collapsed %} accordion--collapsed {% endif %}" id="community">
    <h2 class="accordion__header is-section-header">Community</h2>
    <div class="accordion__content">
        <ul>
            <li>ACM<span class="has-text-highlight-green">@UCR</span> Member of the Month</li>
            <li>ACM<span class="has-text-highlight-green">@UCR</span> & ICPC Member</li>
            <li>ACM<span class="has-text-highlight-green">@UCR</span> Mentor</li>
            <li>UCR Programming Contest Organizer</li>
            <li>Supplemental Instruction Leader</li>
            <li>Riverside County Programming Contest Advisor</li>
            <li>RoseHack 2019 Volunteer</li>
            <li>Bourns Engineering Day Volunteer x2</li>
        </ul>
    </div>
</section>