<section class="accordion {% if include.collapsed %} accordion--collapsed {% endif %}" id="experience">
    <h2 class="accordion__header is-section-header">Experience</h2>
    <div class="accordion__content">
        <ul>
            <li>Supplemental Instruction Leader <span class="has-text-highlight-green">@UCR</span></li>
            <li>RAMP Intern <span class="has-text-highlight-green">@Western Digital</span></li>
            <li>Software Developer <span class="has-text-highlight-green">@MindTAPP</span></li>
        </ul>
        <span class="has-text-highlight-green">*</span> For more in-depth information, you can look through my resume 
        <a href="/jbeto_resume.pdf" target="_blank">here</a>, or just click the top.
    </div>
</section>